@charset "utf-8";

.error404 {
  padding: 2rem 0 0;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  align-items: center;
  max-width: 100%;
}

.error404-content {
  max-width: 100%;
  padding: 0rem 7rem 0;
}

.error404-inr {
  margin: 0 2rem;
  padding: 0;
  text-align: center;
}

.error404-bnr {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.error404-bnr img {
  width: 90%;
  height: 90%;
}

#sorry {
  color: #993a2e;
}

.top-button {
  background-color: #fff;
  padding: 2rem 0 4rem;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  text-align: center;
  max-width: 100%;
}

.footer {
  position: absolute; /* ←絶対位置 */
  bottom: 0;
  width: 100%;

  background-color: #fff;
}

.footerFixed {
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .error404-bnr {
    padding: 0;
  }

  .error404-bnr img {
    margin: 0 5%;
    width: 90%;
    height: 90%;
  }
  .error404-content {
    padding: 2rem 4.5rem 0;
  }
}

@media screen and (max-width: 800px) {
  .error404-content {
    margin: 0 5%;
    padding: 0;
  }
}
