@charset "utf-8";

.menu {
  background-color: #ffffff;
  padding: 2rem 0 0;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  align-items: center;
  max-width: 100%;
}

.menu-content {
  max-width: 100%;
  padding: 2rem 7rem 0;
}

.menu-syokai {
  padding: 2rem 2rem 0;

  margin: 0;
}

.menu-detail {
  display: flex;
  padding: 1rem 0 2rem;
  justify-content: space-between;
}

/* .menu-syokai img {
  width: 50%;
  height: 50%;
} */
.menu-ex {
  padding: 0 1rem;
}

.menu-ex h2 {
  color: #993a2e;
}

.menu-ex h3 {
  margin:1.5em 0 0.5em;
  
}

.footer {
  background-color: #fff;
}

@media screen and (min-width: 1100px) {
  .menu-syokai {
    margin: 0 5% 0 10%;
    max-width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .menu-syokai {
    max-width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 800px) {
  .menu-content {
    margin: 0 5%;
    padding: 0;
  }
  .menu-detail {
    text-align: center;
    display: block;
  }
  .menu-ex {
    text-align: start;
  }

  .menu-syokai img {
    width: 90%;
    height: 90%;
  }
}
