@charset "utf-8";

.mobileorder-ok {
  padding: 2rem 0 0;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  align-items: center;
  max-width: 100%;
}

.mobileorder-ok-content {
  max-width: 100%;
  padding: 2rem 7rem 0;
}

.mobileorder-comp {
  padding: 2rem 3% 0;
}

.mobileorder-comp-inr {
  margin: 2rem;
  padding: 0;
  text-align: center;
}

.mobileorder-comp-bnr {
  max-width: 100%;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.mobileorder-comp-bnr img {
  width: 60%;
  height: 60%;
}

.footer {
  background-color: #fff;
}

#thanks {
  color: #993a2e;
}

.top-button {
  background-color: #fff;
  padding: 2rem 0 4rem;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  text-align: center;
  max-width: 100%;
}

@media screen and (max-width: 900px) {
  .mobileorder-comp-bnr {
    padding: 0;
  }

  .mobileorder-comp-bnr img {
    margin: 0 5%;
    width: 90%;
    height: 90%;
  }
  .mobileorder-ok-content {
    padding: 2rem 4.5rem 0;
  }
}

@media screen and (max-width: 800px) {
  .mobileorder-ok-content {
    margin: 0 5%;
    padding: 0;
  }

  .mobileorder-comp {
    padding: 1rem 0;
  }

  .mobileorder-comp span {
    font-size: 12px;
  }
}
