@charset "utf-8";

.main {
  background-color: #ffd400;
  color: #634d37;
}

.order-bnr {
  padding: 2rem 7rem 0;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  align-items: center;
  max-width: 100%;
}

.order-bnr-bnr {
  max-width: 100%;
  margin: 0;
  padding: 2rem 0;
  text-align: center;
}

.order-bnr-bnr img {
  width: 100%;
  height: 100%;
}

.pc {
  display: block !important;
}
.sp {
  display: none !important;
}

.bgextend {
  animation-name: bgextendAnimeBase;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  overflow: hidden; /*　はみ出た色要素を隠す　*/
  opacity: 0;
}

@keyframes bgextendAnimeBase {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*中の要素*/
.bgappear {
  animation-name: bgextendAnimeSecond;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes bgextendAnimeSecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*--------- 下から --------*/
.bgDUextend::before {
  animation-name: bgDUextendAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffd400; /*伸びる背景色の設定*/
}
@keyframes bgDUextendAnime {
  0% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
  50% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
  50.001% {
    transform-origin: top;
  }
  100% {
    transform-origin: top;
    transform: scaleY(0);
  }
}

.mobileorder-merit {
  padding: 2rem 0;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  text-align: center;
  max-width: 100%;
}

.merit {
  padding: 2rem 10% 0;
  max-width: 100%;
}

.merit ul {
  padding: 0;
}
.merit li {
  margin: 2rem 0;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.fadeUp {
  animation-duration: 3s;
}

.mobileorder {
  padding: 1rem 0;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  text-align: center;
  max-width: 100%;
}

.mobileorder-box {
  align-items: center;
  padding: 0 15%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.top-chumon-button {
  background-color: #ffffff;
  border: 4px solid #634d37;
  padding: 2px 2px 7px 2px;
}

.top-chumon-button-inr {
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0;
}

.top-chumon-button.reverse:hover {
  background: #ffd400;
  color: #ffffff;
  border: 4px solid #ffffff;
}

.telorder {
  padding: 2rem 0 4rem;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  text-align: center;
  max-width: 100%;
}

.telorder-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 5px;
  align-items: center;
  margin: 40px auto 25px auto;
  width: 700px;
  max-width: 75%;
  max-height: 85%;
  background-color: #fff;
  border-radius: 30px;
}

.telorder-box span {
  padding: 0 15% 0 15%;
  text-align: left;
}

.telnumber {
  display: flex;
  flex-grow: 1;
  border-right: 2px solid #634d37;
}

.telnumber span {
  padding: 0 0 0 5%;
  font-size: 2.3rem;
  font-weight: bold;
}

.telnumber img {
  align-items: center;
  margin: auto 2% auto 10%;

  width: 15%;
  height: 15%;
}

.footer {
  background-color: #ffd400;
  color: #634d37;
}

@media screen and (max-width: 930px) {
  .order-bnr {
    padding: 0px;
  }
  .order-bnr-bnr img {
    padding: 0;
    margin: 0 5%;
    width: 90%;
    height: 90%;
  }

  .mobileorder-box {
    max-width: 100%;
    padding: 0;
  }

  .top-chumon-button-ul {
    align-items: center;
    max-width: 100%;
  }

  .top-chumon-button {
    max-height: 65%;
  }

  /* .top-chumon-button {
    width: 220px;
    max-width: 65%;
    max-height: 65%;
    vertical-align: middle;
    text-align: center;
    font-size: 4vw;
    margin: 0 auto;
    margin-bottom: 5%;
    position: relative;
  } */

  .merit li {
    padding: 0;
    font-size: 3vw;
    font-weight: bold;
  }
}
@media screen and (max-width: 800px) {
  .telorder-box h2 {
    font-size: 3vw;
  }

  .telnumber span {
    font-size: 4vw;
  }

  .top-chumon-button {
    position: relative;
    font-size: 4vw;
    background-color: #ffffff;
    border-radius: 10px;
    width: 220px;
    max-width: 65%;
    max-height: 65%;

    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
  }

  .top-chumon-button-ul {
    padding: 1rem;
  }

  .top-chumon-button-inr {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 600px) {
  .order-bnr {
    margin: 0;
  }
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}
