@charset "utf-8";

ol,
ul {
  list-style: none;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
}

a,
a:hover,
a:visited {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

.wrapper {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.header {
  width: 100%;
  min-width: 1088px;
  background-color: #ffffff;
  z-index: 10001;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.header-logo {
  display: inline-block;
  margin-left: 15px;
  margin-top: 5px;
}

.header-nav {
  position: absolute;
  text-align: center;
  font-weight: bold;
  right: 3%;
  width: 80%;
  height: 70px;
  top: 0;
}

/*
.header-nav-list {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 20px 0 auto;
  padding-top: 20px;
  width: 100%;
  max-width: 800px;
  top: 0;

  margin: 0 20%;
}

*/
.header-nav-ul {
  display: table;
  table-layout: fixed;
  text-align: center;
  cursor: pointer;
  display: flex;
  padding: 10px 0;
}

.header-nav-li {
  flex: 1 1;
  font-size: 1em;
}

.header-nav-inr {
  display: block;
  min-width: 100px;
  text-align: center;
  padding: 0 0 6px;
  font-size: 1rem;

  opacity: 1s;
}
.header-nav-li:hover {
  opacity: 1s;
  transition-duration: 0.3s;
  color: #993a2e;
}

.header-nav-li + li {
  border-left: 2px solid #919191;
}

/**/
.hamburger {
  margin: auto 0;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
}

.hamburger .btn-header-nav-list {
  padding: 15px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  width: 70px;
  height: 70px;
  z-index: 12;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.hamburger .btn-header-nav-list span {
  position: absolute;
  width: 70%;
  height: 5px;
  background: #ffffff;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.hamburger .btn-header-nav-list span:nth-child(1) {
  top: 15px;
  right: 15%;
}

.hamburger .btn-header-nav-list span:nth-child(2) {
  top: 32px;
  right: 15%;
}

.hamburger .btn-header-nav-list span:nth-child(3) {
  top: 49px;
  right: 15%;
}

/*activeクラスが付与されると線が回転して×に*/

.hamburger .btn-header-nav-list.active span:nth-child(1) {
  top: 24px;
  left: 8px;
  transform: translateY(6px) rotate(-45deg);
  width: 80%;
}

.hamburger .btn-header-nav-list.active span:nth-child(2) {
  opacity: 0; /*真ん中の線は透過*/
}

.hamburger .btn-header-nav-list.active span:nth-child(3) {
  top: 36px;
  left: 8px;
  transform: translateY(-6px) rotate(45deg);
  width: 80%;
}

/* .hamburger .btn-header-nav-list.open span:nth-child(1) {
  background: #ffffff;
  top: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger .btn-header-nav-list.open span:nth-child(2),
.hamburger .btn-header-nav-list.open span:nth-child(3) {
  top: 6px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
} */

.btn-header-nav-list {
  display: none;
}

.header-nav .header-nav-ul {
  display: flex;
  justify-content: space-between;
}

.header-nav .header-nav-li {
  margin: 0;
  padding: 0 5px;
}

/**/

.main {
  margin: 0;
  padding: 70px 0 0 0;
  border: 0;
  max-width: 100%;
  min-width: 1088px;
}

.top-section-title {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  font-weight: bold;
}

.button {
  font-size: 0.9em;
  width: 170px;
  max-width: 100%;
  background-color: #993a2e;
  border: 2px solid #993a2e;
  color: #ffffff;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: 25px auto;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}

.button.reverse:hover {
  background: #fff;
  color: #993a2e;
}

.top-slider {
  background-color: #ffffff;
  padding: 2rem 0;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  align-items: center;
  max-width: 100%;
}

.top-bnr {
  max-width: 100%;
  margin: 0;
}

.top-bnr img {
  width: 100%;
  height: auto;
  margin: 0 0 15px 0;
}

.slick-slide {
  height: auto;
  opacity: 0.3;
  transform: scale(0.7);
  transition: opacity 0.5s, transform 0.5s;
}

/* 中央のスライド */
.slick-center {
  transform: scale(1);
  opacity: 1;
}
.slick-center:hover img {
  opacity: 0.6;
  transition-duration: 0.3s;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 2;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 50px;
  line-height: 1;
  opacity: 0.75;
  color: #993a2e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 50px;
}
[dir="rtl"] .slick-prev {
  right: 50px;
  left: auto;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: 50px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: 50px;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px; /*ドットボタンのサイズ*/
  height: 8px; /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  background: #ccc; /*ドットボタンの色*/
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 15px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: #993a2e;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #993a2e;
}

.top-chumon-pc {
  padding: 5px;
  align-items: center;
  margin: 40px auto 25px auto;
  width: 700px;
  max-width: 75%;
  max-height: 75%;
  background-color: #993a2e;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 220px 1fr;
}

.top-chumon {
  margin-left: 30px;
  color: #ffffff;
}

.top-chumon-button-ul {
  padding: 1rem;
  text-align: center;
  display: table;
  border-spacing: 10px 0;
}

.top-chumon-button {
  position: relative;
  font-size: 1.4rem;
  background-color: #ffffff;
  border: 2px solid #993a2e;
  border-radius: 10px;
  width: 220px;
  height: 80px;
  padding: 0 0 1rem;
  max-width: 100%;
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}

.top-chumon-button.reverse:hover {
  background: #993a2e;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.top-chumon-button-area {
  display: block;
  text-align: center;
  max-width: 100%;
}

.top-chumon-button-inr {
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0;
}

.button-area {
  display: block;
  text-align: center;
  max-width: 100%;
}

.top-syoukai {
  background-color: #f7f3e2;
  padding: 2rem 0;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  text-align: center;
  max-width: 100%;
  font-family: "Zen Old Mincho", serif;
}

/*==================================================
スタート時は要素自体を透過0にするためのopacity:0;を指定する
===================================*/

.box {
  opacity: 0;
}

/*==================================================
動かしたい動き（今回は” ふわっ” を採用）
===================================*/

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.top-syokai h3 {
  margin: 15px;
}

.top-syoukai ul {
  display: flex;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 15px 5% 0;
  justify-content: center;
}

.top-syoukai li {
  padding: 0 1em;
}

.top-syoukai img {
  width: 100%;
  height: 100%;
}

.top-news {
  background-color: #ffffff;
  padding: 2rem 0;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  align-items: center;
  max-width: 100%;
}

.top-news-list {
  margin: 25px;
}

.top-news-date {
  color: #993a2e;
  text-align: start;
}

.top-news-date-date {
  display: inline-block;
  min-width: 5.5em;
}

.top-news-ul {
  display: inline-block;
  padding: auto;
  text-align: start;
  margin: 0 15%;
}

.top-news-li {
  display: inline-block;
  padding: auto;
  text-align: start;
}

.top-news li:hover {
  opacity: 1s;
  transition-duration: 0.3s;
  color: #993a2e;
}

.top-news-title {
  display: inline-block;
  text-align: center;
}

.top-annai {
  align-items: center;
  background-color: #f7f3e2;
  padding: 2rem 0;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  max-width: 100%;
}

.top-annai-annai {
  margin: 0 15%;
  display: flex;
  padding: auto;
}
.top-annai-address {
  font-size: 1.4rem;
}

.top-annai-map {
  margin-left: 15%;
  position: relative;
  height: 0;
  padding-bottom: 30%; /* 縦横比の指定 */
  overflow: hidden;
}

.footer {
  background-color: #f7f3e2;
  min-width: 1088px;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  text-align: center;
  max-width: 100%;
  color: #333333;
}

@media screen and (max-width: 930px) {
  .header {
    position: fixed;
    width: 100%;
    min-width: 0;
  }

  .main {
    min-width: 0;
  }

  .top-annai {
    align-items: center;
  }

  .top-annai-annai {
    margin: auto;
    padding: auto;
    display: block;
    text-align: center;
    max-width: 400px;
  }

  .top-annai-address {
    display: block;
    text-align: left;
    max-width: 400px;
  }

  .top-annai-address dd {
    margin: 0;
    width: 400px;
    max-width: 100%;
  }

  .top-annai-map {
    margin: auto;
    position: relative;
    height: 0;
    padding-bottom: 100%; /* 縦横比の指定 */
    overflow: hidden;
  }

  .top-annai-map iframe,
  .top-annai-map object,
  .top-annai-map embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .footer {
    width: 100%;
    min-width: 0;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    display: block;
  }

  .main {
    width: 100%;
    /* font-size: 3vw; */
  }

  .button {
    font-size: 0.7em;
  }

  .aside {
    width: 100%;
  }

  h1 {
    display: block;
    font-size: 5vw;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 4vw;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  h3 {
    display: block;
    font-size: 3vw;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }

  .header-nav-li + li {
    border-left: 0;
  }
  /*horyu*/
  .btn-header-nav-list {
    top: 0;
    display: block;
    background-color: #993a2e;
  }

  .header-nav {
    position: fixed;
    padding: 0;
    top: 0;
    right: -100%;
    width: 100%;
    height: 350px;
    background-color: #f7f3e2;

    box-sizing: border-box;
    z-index: 1;
    transition: 0.3s;
  }

  .header-nav.open {
    right: 0;
  }

  .header-nav-ul {
    text-align: center;
    margin: 0;
  }

  .header-nav-li {
    padding: 0;
    font-weight: 600;
  }

  .header-nav-inr {
    display: initial;
  }
  .header-nav .header-nav-ul {
    padding: 70px 0 0 0;
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    text-align: start;
  }

  .header-nav .header-nav-li {
    width: 86%;
    /* border-bottom: 2px solid #ccc8b6; */
    padding: 1.3rem 2rem;
  }

  .top-bnr img {
    width: 100%;
    height: 100%;
  }

  .top-chumon-pc {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    /* margin: 25px auto; */
    width: 550px;
    max-width: 75%;
    max-height: 75%;
    background-color: #993a2e;
    border-radius: 10px;
  }

  .top-chumon {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
  }

  .top-chumon-button-ul {
    padding: 1rem 0 0.5rem 0;
    text-align: center;
    display: table;
    border-spacing: 10px 0;
    margin: 0;
  }

  .top-chumon-button {
    position: relative;
    font-size: 3vw;
    background-color: #ffffff;
    border-radius: 10px;
    width: 220px;

    max-width: 65%;
    max-height: 35%;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
  }
  .top-chumon-button-inr {
    font-size: 2vw;
  }

  .top-syoukai img {
    width: 100%;
    height: 100%;
  }

  .top-news-ul {
    margin: 0 10%;
    padding: 0;
    font-size: 3vw;
  }

  .top-annai-address {
    margin: 0 10%;
    font-size: 3vw;
  }

  .top-annai-map {
    margin: 10%;
    position: relative;
    height: 0;
    padding-bottom: 100%; /* 縦横比の指定 */
    overflow: hidden;
  }
}
