@charset "utf-8";

main {
  font-family: "Zen Old Mincho", serif;
}

.gotoanguide {
  background-color: #f7f3e2;
  padding: 2rem 0;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  text-align: center;
  max-width: 100%;
}

.gotoanguide h3 {
  font-weight: bold;
  font-size: 3rem;
}

.gotoanguide ul {
  display: flex;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 15px 5% 0;
  justify-content: center;
}

.gotoanguide li {
  padding: 0 1em;
}

.gotoanguide img {
  width: 100%;
  height: 100%;
}

.top-annai {
  text-align: center;
}

.button {
  font-family: "Noto Sans JP", sans-serif;
}

.top-annai-annai {
  display: block;
}

.top-annai-address {
  padding: 0;
  margin-top: 10%;
}

.top-annai-address dd {
  text-align: left;
}

.top-annai-map {
  margin: 5%;
  padding-bottom: 50%; /* 縦横比の指定 */
}

.top-button {
  background-color: #f7f3e2;
  padding: 2rem 0 4rem;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  text-align: center;
  max-width: 100%;
}

@media screen and (max-width: 930px) {
  .gotoanguide h3 {
    font-size: 4vw;
  }
}

@media screen and (max-width: 600px) {
  .top-annai-map {
    margin: 10%;
  }

  .gotoanguide ul {
    margin: 0 0 0;
  }

  .gotoanguide li {
    padding: 0 0.5em;
  }
}

@media screen and (min-width: 1400px) {
  .top-annai-address dd {
    margin: 0 13%;
  }
}
