@charset "utf-8";

.menulist-bnr {
  background-color: #ffffff;
  padding: 2rem 0 0;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  align-items: center;
  max-width: 100%;
}

.menulist-bnr-bnr {
  max-width: 100%;
  margin: 0;
  padding: 2rem 10rem 0;
  text-align: center;
}

.menulist-bnr-bnr img {
  width: 100%;
  height: 100%;
}

.menulist {
  max-width: 100%;
  padding: 2rem 10% 0;
}

.menulist-box {
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}

.ml-box {
  margin: 1rem;
  width: 28%;
  height: 33%;
}

.ml-box img {
  width: 100%;
  height: 100%;
}

/* .menulist-grid ul {
  padding: 0;
  column-count: 3;
  column-gap: 1rem;
}

.menulist-grid li {
  margin: 5px;
  width: 200px;
} */

.menulist-usually {
  background-color: #ffffff;
  padding: 2rem 0 0;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  align-items: center;
  max-width: 100%;
}

.menulist-special {
  background-color: #ffffff;
  padding: 2rem 0 0;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  align-items: center;
  max-width: 100%;
}

.footer {
  background-color: #fff;
}

@media screen and (max-width: 800px) {
  /* .main {
    max-width: 100%;
  } */

  p {
    font-size: 2.5vw;
  }

  .menulist-bnr {
    padding-bottom: 0;
  }
  .menulist-bnr-bnr {
    padding: 0;
  }

  .menulist-bnr-bnr img {
    margin: 0 5%;
    width: 90%;
    height: 90%;
  }

  .menulist {
    margin: 0 5%;
    padding: 0;
  }

  .ml-box {
    width: 36%;
    height: 41%;
  }
}
