@charset "utf-8";

.mobileorder-check {
  padding: 2rem 0 0;
  margin: 0;
  flex: 1 1 auto;
  position: relative;
  align-items: center;
  max-width: 100%;
}

.mobileorder-check-content {
  max-width: 100%;
  padding: 2rem 7rem 0;
}

.mobileorder-menu {
  padding: 2rem 3% 0;
}

.menu-confirm {
  margin: 2rem;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  padding: 1rem 0;
  border-bottom: 0.5px solid #919191;
}

.total {
  text-align: right;
  color: #993a2e;
}

.formitem_button {
  padding: 2rem 0;
  text-align: center;
}

.footer {
  background-color: #fff;
}

@media screen and (max-width: 900px) {
  .mobileorder-check-content {
    padding: 2rem 4.5rem 0;
  }
}

@media screen and (max-width: 800px) {
  .mobileorder-check-content {
    margin: 0 5%;
    padding: 0;
  }

  .mobileorder-menu {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 550px) {
  .menu-confirm {
    display: block;
  }
}
